<h1>User information</h1>
<hr>

<div class="row">
  <div class="col-4">
    <h3>Current user: {{userId()}}</h3>
    <button (click)="loadUser(userId() - 1)" class="btn btn-primary">Preview</button>
    &nbsp;
    <button (click)="loadUser(userId() + 1)" class="btn btn-primary">Next</button>
  </div>
  <div class="col-8">
    <h3>User:</h3>
    <p>Full name: {{fullName()}}</p>
    <p>Email: {{currentUser()?.email}} </p>
    <img [src]="currentUser()?.avatar" alt="user avatar" class="rounded">
    <div class="col-8 text-danger" *ngIf="!userWasFound()">
      <h3>User not found</h3>
    </div>
  </div>
</div>
