<h1>Mutations</h1>
<hr>

<div class="row">
  <div class="col-6">
    <input type="text" [value]="user().first_name" class="mb-2 form-control" #txtFirstName (input)="onFieldUpdated('first_name', txtFirstName.value)">
    <input type="text" [value]="user().last_name" class="mb-2 form-control" #txtLastName (input)="onFieldUpdated('last_name', txtLastName.value)">
    <input type="email" [value]="user().email" class="mb-2 form-control" #txtEmail (input)="onFieldUpdated('email', txtEmail.value)">
  </div>
  <div class="col-6">
    <!-- User data -->
    <pre>
      {{ user()| json }}
    </pre>

    <button (click)="increaseBy(+1)" class="btn btn-primary">+1</button>
    <button (click)="increaseBy(-1)" class="btn btn-primary">-1</button>
  </div>
</div>
